<nav class="nav">
    <div class="nav__inner">
        <a class="nav__logo" href="#top">
            <img src="MapleKiosk_rectangle.png" alt="MapleKiosk" />
        </a>
        <div class="nav__links">
            <a href="#features">Features</a>
            <a href="#industries">Industries</a>
            <a href="#how">How it works</a>
            <a href="#pricing">Pricing</a>
        </div>
        <a class="btn btn-primary nav__cta" href="javascript:void(0)" data-open-trial>Start free trial</a>
    </div>
</nav>
